*{
    box-sizing:border-box;
    width : 100%;
    position:relative;
    position:relative;

}

/* GOOGLE ICON  */
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
    font-size: 2.2rem;
    
  };
 



body{
    font-family: 'Montserrat', sans-serif;

    width:100%;    
    
}
body::-webkit-scrollbar{
    display: none;

}
.wrapper{
     /* 1600px; 900px */
    /* width : 100rem;
    height : 56.25rem;  
    margin : 0 auto; */
  
}

/* HEADER */
.wrapper>header{
    position:fixed;
    left:0px;
    top:0px;
    width:100%;
    
    background-color: white;
    z-index : 999;
}

.wrapper>header>.top-header{
    background-color: #76ADE8;
    z-index : 2; 
}
.wrapper>header>.top-header>div{
    height : 60px;
    display: flex;
    justify-content: space-between;
    align-items : center;
    color:white;
    font-size:1.2rem;
    padding-left : 50px;
    padding-right : 50px;
}
.wrapper>header>.top-header .left{
    text-align: left;
    display:flex;
    justify-content: left;
    align-items: center;

   
}
.wrapper>header>.top-header>div>.left:nth-child(1){
    width:50rem; 

}
.wrapper>header>.top-header>div>.left:nth-child(2){
     
}

.wrapper>header>.top-header .right{
    display:flex;
    justify-content: right;
    align-items: right;
    text-align:right;
    width : 50px;
    color:white;
    margin:0px;padding:0px;
}
.wrapper>header>.top-header .right a{
    color:white;
}
.wrapper>header>.top-header .right a:hover{
    opacity: 0.5;
}
.wrapper>header>nav{
    width:100vw !important;
    left:0px !important;
    height : 80px;
    margin : 0px;
    padding : 0px;
    overflow:hidden;
    background-color: #2A76C7;

}
.wrapper>header>nav>div{
    padding-left:50px !important;
}

.wrapper>header>nav ul {
    
    margin : 0px !important;
    padding : 10px !important;
    left : -10px !important;

   
}
.wrapper>header>nav ul li{
    
    width : 130px;
    height : 60px;
   
    border : 2px solid white;
    background-color: #1D5087;
    
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    transition: 0.4s;
}
.wrapper>header>nav ul li a{
    display :flex;
    justify-content: start;
    align-items: center;


}

.wrapper>header>nav ul li:hover{
    background-color: #15395f;
}
.wrapper>header>nav ul li a>.title{
    font-size : 0.8rem;
    margin-top:7px;
}
.wrapper>header>nav ul li a>img{
    width : 50px;
    height : 50px;
}

/* MAIN */

.hrtg
{
    display:none !important;
}
.wrapper>main{
  
    margin-top :130px;


}
.wrapper>main>section{
    position:absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color : white;
    display:none;
   top:-80px !important;
}


.wrapper>main>section:nth-child(1){
   display:block;
   width:100vw;

}
.wrapper>main>section:nth-child(1) video{


}

/* FOOTER */
.wrapper>footer{

}


/* OPENCANVAS */
.offcanvas_btn{

   position:fixed;
   top:50vh;
   left:0px;
   width:20px;
   background-color: black;
   opacity: 0.7;
   z-index:666;
   border-radius: 0 5px 5px 0;
   transition:0.3s;
   transition-timing-function: ease-in-out;
}
.offcanvas_btn img{
    width :20px;
    left:-1px;


}
.ToRight{
    transform:translateX(400px);
}
.ToLeft{
    transform:translateX(0px);
}


.offcanvas{
    height:100vh;
    width:400px;
    background-color: black;
    opacity: 0.7;
    z-index: 400;
}

.offcanvas .offcanvas-body{

}
.offcanvas .offcanvas-body::-webkit-scrollbar{
    display:none;
}

.offcanvas .offcanvas-body>.wrapper{
    display:flex;
    justify-content: center;
    align-items: start;
    width:350px;


    position:relative;
    top:150px;
    padding:5px;
}



.offcanvas .offcanvas-body>.wrapper .dangerzone{
    display:flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    padding : 10px;
    margin-bottom:20px;
    opacity : 0.8;
    color:white;
    padding : 10px;
}
.offcanvas .offcanvas-body>.wrapper .dangerzone a{
    text-decoration: none;
    color:white;

}
.offcanvas .offcanvas-body>.wrapper .dangerzone>.header{
    width :  319px;
    height : 50px;
    border: 1px solid;
    display:flex;
    align-items:center;
    justify-content: center;
    margin-bottom:5px;
    padding:5px;

}
.offcanvas .offcanvas-body>.wrapper .dangerzone>.header>a {

    text-decoration: none;

}
.offcanvas .offcanvas-body>.wrapper .dangerzone>.body{
    height : 200px;
    display:flex;
    justify-content: space-between;
    margin-bottom:5px;

}
.offcanvas .offcanvas-body>.wrapper .dangerzone>.body>div{
    border : 1px solid ;

}

.offcanvas .offcanvas-body>.wrapper .dangerzone>.footer{
    height : 50px;
    border : 1px solid ;
}

.details{

    text-align:right;
}
/*  */
.offcanvas .offcanvas-body>.wrapper .dangerzone{
    display:flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    font-size : 1.2rem;
    padding : 10px;
    margin-bottom:20px;
}
.offcanvas .offcanvas-body>.wrapper .dangerzone>.header{
    width :  319px;
    height : 50px;
    border: 1px solid;
    display:flex;
    align-items:center;
    justify-content: center;
    margin-bottom:5px;
    padding:5px;
    font-weight: 800;
}
.offcanvas .offcanvas-body>.wrapper .dangerzone>.header>h4{



}
.offcanvas .offcanvas-body>.wrapper .dangerzone>.body{
    height : 450px;
    display:flex;
    justify-content: space-between;
    margin-bottom:5px;

}
.offcanvas .offcanvas-body>.wrapper .dangerzone>.body>div{
    border : 1px solid ;

}



/* MAP */
.wrapper>main>section>#map{

    position:fixed !important;
    width:100vw !important;
    left:calc(-50vw + 50%) !important;
    height:100vh !important;
}

.wrapper>main>section>#map .leaflet-control-container{
    width : 50px;
    top:5%;

}
.wrapper>main>section>#map  .leaflet-control-zoom{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position:relative;
    left:90vw;


}

/* MAP MARKER */
.leaflet-popup{
    width :400px;

}
.leaflet-popup-content-wrapper{
    width : 400px ;
    height:400px;
    margin:0 auto;
}

/* MAP -- */
.leaflet-control-zoom{
   border : 0px !important;
}


.buildingDangerFixedBlock{

    position:fixed !important;
    width:350px !important;
    height :600px;

    left:70vw !important;
    top:20vh !important;
    background-color:white !important;
    z-index:1 ;
    transition:0.5s !important;
    overflow:hidden;
    padding : 2px !important;
    display:flex !important;
    justify-content: center !important;
    align-items : center !important;
    flex-direction : column !important;
    border-radius : 10px !important;

}
.buildingDangerFixedBlock>div
{
    width:300px !important;
    display:flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    flex-direction: column!important;
    padding:2px !important;


}
.buildingDangerFixedBlock>div{
    width : 300px;
    height : 150px;
    object-fit: cover;

    margin-bottom : 5px;
    object-fit: contain;
}
.buildingDangerFixedBlock div img{
    width : 300px;
    height : 130px;
    margin : 5px;


}

.buildingDangerFixedBlock>div .buildingwindGif{

    width:300px;
    height:150px;
    margin-bottom:10px;
    display:flex;
    justify-content: center;
    align-items: center;
    padding:2px;
    position:relative;
}
.buildingDangerFixedBlock>div .buildingwindGif::after{


}

/*--------------------------------------*/

.buildingDangerFixedBlock>div>.buildingDangerFixedBlock-weather .mobile-fit{
    display:flex
    justify-content:center;
    align-items:center;
    flex-direction:row;
    width : 300px;
    margin-top:10px;
}
.buildingDangerFixedBlock>div>.buildingDangerFixedBlock-weather  .weather-top{
    width:300px;

    font-size:0.9rem;
    font-weight: 800;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-left:10px;
}
.buildingDangerFixedBlock>div>.buildingDangerFixedBlock-weather  .weather-nav{
    width:300px;
    height:40px;
   /* z-index:8;*/
    display:flex;
    justify-content:right;
    align-items:center;
}



.buildingDangerFixedBlock>div>.buildingDangerFixedBlock-weather  .weather-nav button{


        border-radius:5px !important;
        width:50px !important;

        font-size:0.5rem !important;
        margin-right:5px !important;


}
.buildingDangerFixedBlock>div>.buildingDangerFixedBlock-weather  .weather-body{

}
.buildingDangerFixedBlock>div>.buildingDangerFixedBlock-weather  .weather-body>.weather-body-top{

}
.buildingDangerFixedBlock>div>.buildingDangerFixedBlock-weather  .weather-body>.weather-body-section{

}
.buildingDangerFixedBlock>div>.buildingDangerFixedBlock-weather  .weather-body>.weather-body-section>.weather-info{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align:center;
    width : 300px;
    margin : 0 auto;
}
.buildingDangerFixedBlock>div>.buildingDangerFixedBlock-weather  .weather-body>.weather-body-section>.weather-info img{

    width : 50px !important;
    height : 30px !important;
    margin : 10px auto !important;
    position:absolute !important;
    margin : 0 auto !important;
    left:0px;
    top:-35px;

}

.buildingDangerFixedBlock>div>.buildingDangerFixedBlock-weather  .weather-body>.weather-body-section>.weather-info span{
    position:absolute;

    left:-100px !important;
    top:-35px !important;
    font-size:1rem !important;
    font-weight:800;
}

.buildingDangerFixedBlock>div>.buildingDangerFixedBlock-weather  .weather-body>.weather-body-section>.weather-info .weather-info-body{
    display:flex;
    justify-content: center;
    align-items: center;

    border : 1px solid lightgray;
    border-radius: 5px;
    width : 290px !important;
    margin : 0 auto;
    height : 40px !important;
    margin : 0 auto;


}
.buildingDangerFixedBlock>div>.buildingDangerFixedBlock-weather  .weather-body>.weather-body-section>.weather-info .weather-info-body span{
    font-size : 0.6rem !important;
    position:relative !important;
    left:0px !important;
    top:0px !important;

}
.buildingDangerFixedBlock>div>.buildingDangerFixedBlock-weather  .weather-body>.weather-body-section>.weather-footer{
    display:flex;
    justify-content: center  !important;
    align-items: center  !important;
    width : 300px !important;
    margin : 0 auto;


}
.buildingDangerFixedBlock>div>.buildingDangerFixedBlock-weather  .weather-body>.weather-body-section>.weather-footer button{

    margin : 8px;
    font-size : 0.5rem;
    width : 60px;
    height : 35px;
    border : 1px solid lightgray;
}

.buildingDangerFixedBlock>div>.buildingDangerFixedBlock-weather  .weather-body>.weather-body-section>.weather-footer .weather-item:last-child{
    margin-right:0px;
}
.buildingDangerFixedBlock>div>.buildingDangerFixedBlock-weather  .weather-body>.weather-body-section>.weather-footer .weather-item:first-child{
    margin-left:0px;
}


/*---------------------------------------*/

/* YOUTUBE */

.section01 .youtubeBlk .wrapper{
    width:100%;


}
.section01 video {
    position:relative;
    z-index:777;
}
.section01 .youtubeBlk {
    position:absolute;
    left:20vw;
    top:62vh;
    background-color : white;



}
.section01 .youtubeBlk .wrapper .videoblock{
  display:flex;

  justify-content: center;
  align-items: center;
  flex-wrap: wrap;




}

.section01 .youtubeBlk .wrapper .videoblock div{
    width : 150px;
    height : 100px;
    border : 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    text-align: center;
    z-index:888;

}
.section01 .youtubeBlk .wrapper div{
 margin:20px;

}

.section01 .youtubeBlk .wrapper .videoblock div{
    background-color: white;
    border-radius: 10px;
}

.section01 .youtubeBlk .wrapper .videoblock div .material-symbols-outlined{
    display:absolute;
    left:0px;
    top:0px;
    color : white;
    border : 1px solid white;
    width : 50px;
    border-radius: 10px;
    background-color: rgb(174, 46, 46);

}
.section01 .youtubeBlk .wrapper .videoblock div .material-symbols-outlined.naver{
    background-color: rgb(38, 149, 42) ;
}

.modal iframe{
    width : 100%;
    height : 100%;
}



    /* 모달창 Style */
    .modal-dialog.modal-xl {
        position:relative;
        top:80px;
        width:1200px;
        height: 700px;

    }
    .modal-dialog .modal-body{
        height:700px;
    }

    .modal-body{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .modal-body>div{
        width : 400px;
        height: 100%;
        border : 1px solid gray;
        border-radius: 15px;
        margin:10px;
        padding : 10px;
        text-align: center;
    }



/* 06 실시간 풍속정보 */


/* updating---------------------------- */
.section06 *{

}
.section06{
    width :100vw  !important;
    height : 1000px !important;
    margin : 0 auto;
    background-color : white;
    display:flex !important;
    justify-content: space-evenly!important;
    align-items: center!important;
    z-index:10 !important;
    position:relative;
    top:-100px !important;

}



.section06>.left
{
    width : 450px;
    height : 400px;

    position:relative;

    top:-150px !important;
    left:0px;
    border-radius:5px;
    box-shadow: 5px 5px 5px lightgrey;
    /*border-radius: 10px;*/
}

.section06>.left>div{

}

.section06>.left .weather-top {
    height:40px;
    line-height:40px;
    font-size:1.3rem;
    font-weight: 800;
    margin-bottom : 10px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    left:3%;
}


.section06>.left .weather-nav{
     left:3%;
    height:60px;
    /*border-bottom : 1px solid lightgray;*/
}
.section06>.left .weather-nav button{
    border-radius:20px !important;
    width:60px !important;
    height:35px !important;
    font-size : 0.9rem !important;
}
.section06>.left .weather-body{

}
.section06>.left .weather-body>.weather-body-top{

}
.section06>.left .weather-body>.weather-body-section{

}
.section06>.left .weather-body>.weather-body-section>.weather-info{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align:center;

}
.section06>.left .weather-body>.weather-body-section>.weather-info img{

    width : 150px !important;
    height : 100px !important;
    margin : 20px auto !important;
    position:relative !important;
    margin : 0 auto !important;
    object-fit : contain !important;
    margin-bottom :50px !important;

}
/*10.5도씨*/
.section06>.left .weather-body>.weather-body-section>.weather-info .temp{
    position:absolute;
    top:2vw  !important;;
    left:4vw;
    font-size:2.5rem  !important;
    font-weight:800;
}

.section06>.left .weather-body>.weather-body-section>.weather-info span{
    position:absolute;
    top:2vw  !important;;
    left:8vw;
    font-size:2.5rem  !important;
    font-weight:800;
}



.section06>.left .weather-body>.weather-body-section>.weather-info .weather-info-body{
    display:flex;
    justify-content: center;
    align-items: center;

    border : 1px solid lightgray;
    border-radius: 5px;
    width : 400px !important;
    height : 60px !important;
    margin : 0 auto;
    padding-left:2px !important;
    padding-right:2px !important;


}
.section06>.left .weather-body>.weather-body-section>.weather-info .weather-info-body>span{
    font-size : 0.7rem !important;
    position:relative !important;
    left:0px !important;
    top:0px !important;
    display:block  !important;
    border : 1px solid lightgray !important;
     border-radius: 2px;
    padding : 2px !important;
    margin : 2px !important;
}
.section06>.left .weather-body>.weather-body-section>.weather-info .weather-info-body>span>span{
    font-size : 0.7rem !important;
    position:relative !important;
    left:0px !important;
    top:0px !important;

    padding :0px !important;
    margin : 0px !important;
}



.section06>.left .weather-body>.weather-body-section>.weather-footer{
    display:flex;
    justify-content: center !important;
    align-items: center !important;
    width : 400px !important;
    margin : 0 auto;
}
.section06>.left .weather-body>.weather-body-section>.weather-footer .weather-item
{
    width:120px;
    height:50px;
}
.section06>.left .weather-body>.weather-body-section>.weather-footer .weather-item:last-child{
    margin-right:0px;
}
.section06>.left .weather-body>.weather-body-section>.weather-footer .weather-item:first-child{
    margin-left:0px;
}

.section06>.left .weather-body>.weather-body-section>.weather-footer button{
    border : 1px solid lightgray;
    margin : 10px;
    font-size : 0.7rem;
}


.section06>.right
{

    position:relative;
    width : 700px !important;
    top:-100px !important;

}


.section06>.right>.tbl_block{
    width : 700px;
    top:30px;
     height : 250px;
    overflow : auto;
}



.realtimeTbl{
    position:relative !important;
    width : 100% !important;
    height : 250px !important;
    font-size :0.9rem !important;
    margin:0 auto !important;
    padding : 0px !important;
    font-size:0.7rem !important;

}


.realtimeTbl th,
.realtimeTbl td
{
    width: 35px !important;
    height : 35px !important;
    line-height : 35px !important;
    text-align:center !important;
    font-size:1rem !important;
}



.section06>.right>.chartBlock{
    margin-top :30px  !important;;
    display:flex;
    align-items:center;
    display:flex!important;
    justify-content: space-between !important;
    align-items: center!important;
    flex-direction:row !important;
}

.section06>.right>.chartBlock>.left{
    width : 420px !important;
    height :280px !important;
    margin-top:30px !important;
    margin-right:50px !important;

}
.section06>.right>.chartBlock>.left>#leftChart{
    width : 420px !important;
    height :  280px !important;
    marin : 0 auto !important;
    margin-top:0px !important;

}

.section06>.right>.chartBlock>.right{
    width : 100% !important;
    height : 100% !important;
    marin-left:50px !important;
    display : flex !important;
    justify-content: left !important;
    align-items: center !important;

}
.section06>.right>.chartBlock>.right>#container{
    width : 280px !important;
    height :  250px !important;
    marin : 0 auto !important;
    marin-left:50px !important;


}


/*th,td{
    width:5vw;
    height : 2vw ;
    text-align:center;
}*/
/* ---------------------------- */


section.section02{
        width : 100%  !important;
        display:flex !important ;
        justify-content : center   !important;
        align-items : center  !important;
        flex-direction : row !important;
}
section.section02>div{

    width : 769px !important ;
    height : 488px !important ;
    position:relative !important ;
    left : 0px !important;
    top : 120px !important;

    display:flex  !important;
    justify-content : center  !important;
    align-items : center !important;
    flex-direction : row !important;


}
section.section02>div img{
    width : 700px !important;
    height : 400px !important;
    object-fit : contain !important;
    display:none;
    z-index:15;
    margin : 0!important;
}