*{
    box-sizing:border-box;
    position:relative;
    width : 100%;
    margin : 0 auto;

}

/* GOOGLE ICON  */
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
    font-size: 2.2rem;
    
  };

  
body{
    font-family: 'Montserrat', sans-serif;
    width : 100vw;
    margin : 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

}
body::-webkit-scrollbar{
    display: none;

}
.wrapper{
     /* 1600px; 900px */
    /* width : 100rem;
    height : 56.25rem;  
    margin : 0 auto; */
    width : 350px;
    position : relative;
    margin :0 auto;

}

/* HEADER */
.wrapper>header{
    position:relative;
    left:0px;
    top:0px;
    width:350px;
    margin : 0 auto;
    background-color: white;
    z-index : 555;

}

.wrapper>header>.top-header{
   
    display:none;
  
}
.wrapper>header>.top-header>div{
    height : 60px;
    display: flex;
    justify-content: space-between;
    align-items : center;
    color:white;
    font-size:0.8rem;
    padding-left : 0px;
    padding-right :0px;
}
.wrapper>header>.top-header .left{
    text-align: left;
    display:flex;
    justify-content: left;
    align-items: center;

   
}
.wrapper>header>.top-header>div>.left:nth-child(1){
    width:50rem;

}
.wrapper>header>.top-header>div>.left:nth-child(2){
     
}

.wrapper>header>.top-header .right{
    display:flex;
    justify-content: right;
    align-items: right;
    text-align:right;
    width : 50px;
    color:white;
    margin:0px;padding:0px;
}
.wrapper>header>.top-header .right a{
    color:white;
}
.wrapper>header>.top-header .right a:hover{
    opacity: 0.5;
}
.wrapper>header>nav{
    display:relative;
    width:350px !important;
    left:0px !important;
    height : 80px;
    padding : 0px;
    margin : 0 auto !important;
    overflow:hidden;
    background-color: #2A76C7;
    display:flex;
    justify-content: left;
    align-items: center;

}
.wrapper>header>nav>div{
    width:350px;
    padding-left:5px !important;

}

.wrapper>header>nav ul {
    
    margin : 0px;
    padding : 0px;

    display:flex;

    justify-content: left;
    align-items: left;
    flex-direction: row;
    /* border : 1px solid green; */
    width :100vw !important;
    margin : 0 auto !important;;
    

}
.wrapper>header>nav ul li{
    
    width : 55px;
    height : 50px;
   
    background-color: #1D5087;
    
    display:flex;
    justify-content: left;
    align-items: center;
    text-align: center;
    cursor: pointer;
    transition: 0.4s;
    
}
.wrapper>header>nav ul li a{
    display :flex;
    justify-content: start;
    align-items: center;
    width : 60px;
    height : 50px;

}


.section01 .hrtg{
    display:block !important;
    width : 350px !important;
    height : 35px !important;
    line-height:35px !important;
    background-color: lightgray !important;
    text-align: center !important;
    top:30px !important;
    z-index:12 !important;
}


.wrapper>header>nav ul li:hover{
    background-color: #15395f;
}
.wrapper>header>nav ul li a>.title{
    font-size : 0.8rem;
    margin-top:7px;
}
.wrapper>header>nav ul li a .title:last-child{
    font-size:0.5rem;
}

/* MAIN */

.wrapper>main{
  
    margin-top :135px;
    top:-50px;

}
.wrapper>main>section{
    position:absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color : white;
    display:none;
    top:-90px !important;

}


.wrapper>main>section:nth-child(1){
   display:block;
  
   
   width:350px;


}
.wrapper>main>section:nth-child(1) video{
  
    
}

/* FOOTER */
.wrapper>footer{

}


/* OPENCANVAS */
.offcanvas_btn{
   display:none;

}
.offcanvas_btn img{
    width :20px;
    left:-1px;

    
}
.ToRight{
    transform:translateX(400px);
}
.ToLeft{
    transform:translateX(0px);
}


.offcanvas{
    display:none;
    height:100vh;
    width:350px;
    background-color: black;
    opacity: 0.7;
    z-index: 400;
}

.offcanvas .offcanvas-body{

}
.offcanvas .offcanvas-body::-webkit-scrollbar{
    display:none;
}

.offcanvas .offcanvas-body>.wrapper{
    display:flex;
    justify-content: center; 
    align-items: start; 
    width:350px;
   
   
    position:relative;
    top:150px;
    padding:5px;
}



.offcanvas .offcanvas-body>.wrapper .dangerzone{
    display:flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    padding : 10px;
    margin-bottom:20px;
    opacity : 0.8;
    color:white;
    padding : 10px;
}
.offcanvas .offcanvas-body>.wrapper .dangerzone a{
    text-decoration: none;
    color:white;

}
.offcanvas .offcanvas-body>.wrapper .dangerzone>.header{
    width :  319px;
    height : 50px;

    display:flex;
    align-items:center;
    justify-content: center;
    margin-bottom:5px;
    padding:5px;

}
.offcanvas .offcanvas-body>.wrapper .dangerzone>.header>a {

    text-decoration: none;
    
}
.offcanvas .offcanvas-body>.wrapper .dangerzone>.body{
    height : 200px;
    display:flex;
    justify-content: space-between;
    margin-bottom:5px;

}
.offcanvas .offcanvas-body>.wrapper .dangerzone>.body>div{

}

.offcanvas .offcanvas-body>.wrapper .dangerzone>.footer{
    height : 50px;
 }

.details{

    text-align:right;
}
/*  */
.offcanvas .offcanvas-body>.wrapper .dangerzone{
    display:flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    font-size : 1.2rem;
    padding : 10px;
    margin-bottom:20px;
}
.offcanvas .offcanvas-body>.wrapper .dangerzone>.header{
    width :  319px;
    height : 50px;
    /*border: 1px solid;*/
    display:flex;
    align-items:center;
    justify-content: center;
    margin-bottom:5px;
    padding:5px;
    font-weight: 800;
}
.offcanvas .offcanvas-body>.wrapper .dangerzone>.header>h4{

    
    
}
.offcanvas .offcanvas-body>.wrapper .dangerzone>.body{
    height : 450px;
    display:flex;
    justify-content: space-between;
    margin-bottom:5px;

}
.offcanvas .offcanvas-body>.wrapper .dangerzone>.body>div{
    border : 1px solid ;

}

/*SECTION03 - 빌딩풍 위험지도 */
.section03{
}
.section03>.header
{
    display:block !important;
    position:relative !important;
    width : 350px !important;
    left :0px !important;
    top:0px !important;
    height : 40px !important;
    z-index:9999 !important;
    margin : 2px auto;
}
.section03 .header .menu
{
    width : 350px !important;
    height : 45px !important;
    margin : 0 auto !important;
    padding : 0px !important;
    z-index:9999 !important;
    /*background-color: #76ADE8;*/

    position:relative !important;
    left:0px;
    top:0px;
    display:flex !important;
    justify-content: space-between !important;
    align-items : center !important;
    text-align:center !important;
    flex-direction: row !important;
    margin-top:7px !important;;
}

.section03 .header .menu li
{
    display:block !important;
    text-align:center !important;
    border : 1px solid lightgray !important;
    border-radius : 3px !important;
    margin : 5px !important;
    padding : 0px;
    background-color : beige;
    width : 100px;
    font-size : 0.9rem;
    height : 40px !important;
    line-height : 40px !important;
    box-shadow : 2px 2px 2px lightgray;
    font-size : 0.9rem;

}
.section03 .header .menu li a
{
    display:block  !important;
    text-decoration:none !important;
    color:black !important;
    color :black;
    display:block;

}



/* MAP */
.wrapper>main>section>#map{

    position:absolute !important;
    width:350px !important;
    height :300px !important;
    left:0px !important;
    top:100px !important;
}
.section03 .hrtg{
    display:block !important;
    position : relative !important;
    width : 350px !important;
    height : 35px !important;
    line-height:35px !important;
    background-color: lightgray !important;
    text-align: center !important;
    top:305px !important;
    z-index:12 !important;
}
.section03-footer{
     top : 5px !important;
     position : relative !important;
     width : 350px !important;

     display:flex !important;
     justify-content: space-between !important;
     align-items : center !important;
     /*background-color: orange !important;*/
     border : 1px solid gray;
     top:310px !important;
     padding : 10px;
}


.section03-footer img{
    position : relative !important;
    top:0px !important;
    left: 0px !important;
    width : 47%;
    height : 47%;

}



.buildingDangerFixedBlock{
    display:none !important;
}

.buildingDangerFixedBlock>div
{
    display:none !important;
}
.buildingDangerFixedBlock>div>div{
display:none !important;
}
.buildingDangerFixedBlock>div .buildingwindGif{
display:none !important;
}



.section01 .youtubeBlk {
 /* border : 2px solid lightgray; */

 top:270px;


 left:0;

 
}
.section01 .youtubeBlk .wrapper{

    position:relative;

}
.section01 .youtubeBlk .wrapper .videoblock{
  display:flex;

  justify-content: center;
  align-items: center;
  flex-direction: row;

  height:400px;  
  
  margin : 0 auto;
  /* border : 1px solid orange; */
  
}

.section01 .youtubeBlk .wrapper .videoblock div{
    width : 120px;
    height : 120px;
    border : 1px solid lightgray;
    
 
}

.section01 .youtubeBlk .wrapper .videoblock>div{
    background-color: white;
    border-radius: 10px;
    
}

.section01 .youtubeBlk .wrapper .videoblock div .material-symbols-outlined{
    display:relative;
    left:0px;
    top:0px;
    color : white;
    border : 1px solid white;
    width : 50px;
    border-radius: 10px;
    background-color: rgb(174, 46, 46);


}
.section01 .youtubeBlk .wrapper .videoblock div .material-symbols-outlined.naver{
    background-color: rgb(38, 149, 42) ;
}

.modal{
    height : 350px;
    margin-top : 25vh
}
.modal iframe{
    width : 350px;
    height : 200px;;
}
    /* 모달창 Style */
    .modal-dialog.modal-xl {
        position:relative;
        top:80px;
        width:350px;
        height: 350px;
  
    }
    .modal-dialog .modal-body{
        height:200px;
    }

    .modal-body{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .modal-body>div{
        width : 350px;
        height: 100%;
        border : 1px solid gray;
        border-radius: 15px;
        margin:10px;
        padding : 10px;
        text-align: center;
    }






/* 06 실시간 풍속정보 */

/*-------------*/
/* updating---------------------------- */
.section06 *{

}
.section06{
    width : 350px !important;
    height : 100vw !important;
    margin : 0 auto;
    left:0px;
    display:block !important;
    z-index:1 !important;
    top:0px !important;
}
.section06>.left
{
    position:relative;
    top:18px !important;
    left:0px;
    width:350px;
    height : 280px;
    border-radius:0px !important;
    box-shadow: none !important;
    display:flex  ;
    justify-content: center;
    align-items: center;
    flex-direction: column;



.section06>.left>div{
    width:350px ;
    height : 250px;
}

}
.section06>.left .mobile-fit{
    display:flex
    justify-content:center;
    align-items:center;
    flex-direction:row;
    width : 350px;
}
.section06>.left .weather-top{
    width:350px;

    font-size:1.2rem;
    font-weight: 800;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-left:20px;
}
.section06>.left .weather-nav{
    width:350px;
    height:25px !important;
    z-index:8;
    display:flex;
    justify-content:right;
    align-items:center;

    left:0% !important;


}



.section06>.left .weather-nav button{


        border-radius:5px !important;
        width:40px !important;
        height:25px !important;
        font-size:0.4rem !important;
        margin-right:5px !important;


}
.section06>.left .weather-body{

}
.section06>.left .weather-body>.weather-body-top{

}
.section06>.left .weather-body>.weather-body-section{

}
.section06>.left .weather-body>.weather-body-section>.weather-info{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align:center;
    width : 300px;
    margin : 0 auto;
}
.section06>.left .weather-body>.weather-body-section>.weather-info img{
    width : 150px !important;
    height : 100px !important;
    margin : 20px auto !important;
    position:relative !important;
    margin : 0 auto !important;
    object-fit : contain !important;
    margin-bottom :0px !important;
}

.section06>.left .weather-body>.weather-body-section>.weather-info span{
    position:absolute;
    top:12vw !important;
    left:8vw;
    font-size:1.5rem !important;
    font-weight:800;
}

.section06>.left .weather-body>.weather-body-section>.weather-info .weather-info-body{
    display:flex;
    justify-content: center;
    align-items: center;

    border : 1px solid lightgray;
    border-radius: 5px;
    width : 300px !important;
    margin : 0 auto;
    height : 40px !important;
    margin : 0 auto;
    padding-left:0px !important;
    padding-right:0px !important;

}
.section06>.left .weather-body>.weather-body-section>.weather-info .weather-info-body>span{
    font-size : 0.5rem !important;
    position:relative !important;
    left:0px !important;
    top:0px !important;
    display:block  !important;
    border : 1px solid lightgray !important;
         border-radius: 2px;
    padding : 2px !important;
    margin : 2px !important;

}
.section06>.left .weather-body>.weather-body-section>.weather-info .weather-info-body>span>span{
    font-size : 0.5rem !important;
    position:relative !important;
    left:0px !important;
    top:0px !important;

    padding :0px !important;
    margin : 0px !important;
}

.section06>.left .weather-body>.weather-body-section>.weather-footer{
    display:flex;
    justify-content: left  !important;;
    align-items: left  !important;;
    width : 300px !important;
    margin : 0 auto;


}
.section06>.left .weather-body>.weather-body-section>.weather-footer button{
    border : 1px solid lightgray;
    margin : 5px;
    font-size : 0.5rem;
    width : 40px;;

}

.section06>.left .weather-body>.weather-body-section>.weather-footer .weather-item:last-child{
    margin-right:0px;
}
.section06>.left .weather-body>.weather-body-section>.weather-footer .weather-item:first-child{
    margin-left:0px;
}




.section06>.right
{
    position:relative;
    left :0px;

    display:flex;
    justify-content:start;
    align-items:start;
    flex-direction:row;
    flex-wrap : wrap;

    width : 350px!important;

    top : 0px !important;
    border : 0px;

    top:0px !important;

}

.section06>.right>.tbl_block{
    width : 350px;
    top:30px;
     height : 100px;
    overflow : auto;
}



.realtimeTbl{
    position:relative !important;
    width : 350px !important;
    height : 100px !important;
    font-size :0.9rem !important;
    margin:0px !important;
    padding : 0px !important;
    font-size:0.7rem !important;

}
.realtimeTbl th,
.realtimeTbl  td
{
    width: 12px !important;
    height : 12px !important;
    line-height : 12px !important;
    text-align:center !important;
    font-size:0.6rem !important;
}


.section06>.right::-webkit-scrollbar{

}

.section06>.right>.chartBlock{
    position:relative;
    top:80px  !important;
    left:0 !important;
    width : 350px !important;
    margin-top : 0px !important;
    display:flex !important;
    justify-content:center !important;
    align-items:center !important;
    flex-direction:column !important;
    border : 0px !important;

}
.section06>.right>.chartBlock>.left{
    width : 350px !important;
    height : 200px !important;
    margin-right:0px !important;
    margin-top:0px !important;
}
.section06>.right>.chartBlock>.left>#leftChart{
    width : 350px !important;
    height :  200px !important;
    marin : 0 auto !important;
    margin-top:0px !important;

}

.section06>.right>.chartBlock>.right{
    width : 250px !important;
    height : 150px !important;
    margin-top:50px !important;
    marin-left:0px !important;

    display : flex !important;
    justify-content: center  !important;
    align-items: center !important;

}
.section06>.right>.chartBlock>.right>#container{
    width : 250px !important;
    height :  200px !important;
    marin : 0 auto !important;
    marin-left:50px !important;
}







/* ---------------------------- */

/*-------------*/
.section02{

    width : 350px;  !important;
    display:flex  !important;
    justify-content : center  !important  ;
    align-items : center !important ;
    flex-direction : column !important;

}
section.section02>div{
    width : 350px !important;

    position:relative !important ;
    top:-50px !important;
    left : 0px !important;

    display:flex  !important;
    justify-content : center !important ;
    align-items : center !important ;
    flex-direction : column !important;
    flex-wrap : wrap;
    margin : 0 auto !important;

}

section.section02>div img{
    width : 280px !important;
    height : 150px !important;
    object-fit : contain !important;
    z-index:15;
    margin : 0 auto !important;
}