<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes">
        <title>Document</title>

 


        <!-- RESET CSS -->
        <link
            href="https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css"
            rel="stylesheet">

        <!-- BS5 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous">

        <!-- GOOGLE ICON CDN -->
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>

        <!-- GOOGLE FONT CDN -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link
            rel="preconnect"
            href="https://fonts.gstatic.com"
            crossorigin="crossorigin">
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
            rel="stylesheet">

        <!-- LEAFLET CDN -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>
        <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
        <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>






        <!-- COMMON CSS -->
        <link rel="stylesheet" href="css/common.css">

        <!-- mobile -->
        <link rel="stylesheet" href="css/mobile.css" media="all and (max-width:450px)">

    </head>
    <body>

        <div class="wrapper ">
            <header>
                <div class="top-header">

                    <div>
                        <div class="left">
                            <div>
                                <span>빌딩풍 위험도 분석 및 예방·대응 시스템</span>
                            </div>
                            <div>
                                <select class="centerSelect form-select " name="centerXY" style="width:150px;text-align:center;">
                                    <option value="35.16073, 129.1688">LCT</option>
                                    <option value="35.15541, 129.1460">마린시티</option>
                                    <option value="35.17899, 129.1227">센텀파크</option>
                                </select>

                            </div>
                        </div>
                        <div class="right">
                            <div>
                                <a href="/logout">
                                    <span class="material-symbols-outlined">logout</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <nav class="navbar navbar-expand-lg navbar-light">
                    <div>
                        <ul class="navbar-nav">
                            <li class="nav-item ">
                                <a
                                    class="nav-link  text-white"
                                    href="javascript:void(0)"
                                    data-toggle="off"
                                    data-submenu="menu01"
                                    data-idx="1">
                                    <!-- <img src="images/icon1_off.png" alt="" /> -->
                                    <div class="title">빌딩풍</div>
                                </a>
                            </li>
                            <li class="nav-item  ms-3">
                                <a
                                    class="nav-link  text-white"
                                    href="javascript:void(0)"
                                    data-toggle="off"
                                    data-submenu="menu06"
                                    data-idx="6">
                                    <!-- <img src="images/test2_off.png" alt="" /> -->

                                    <div class="title" style="width:200px;">실시간<br>풍속정보</div>
                                </a>
                            </li>
                            <li class="nav-item  ms-3">
                                <a
                                    class="nav-link  text-white"
                                    href="javascript:void(0)"
                                    data-toggle="off"
                                    data-submenu="menu05"
                                    data-idx="5">
                                    <!-- <img src="images/icon22_off.png" alt="" /> -->
                                    <div class="title">빌딩풍<br>위험지도</div>
                                </a>
                            </li>

                            <li class="nav-item  ms-3">
                                <a
                                    class="nav-link  text-white"
                                    href="javascript:void(0)"
                                    data-toggle="off"
                                    data-submenu="menu02"
                                    data-idx="2">
                                    <!-- <img src="images/icon3_off.png" alt="" /> -->
                                    <div class="title">행동요령</div>
                                </a>
                            </li>
                            <li class="nav-item  ms-3">
                                <a
                                    class="nav-link  text-white"
                                    href="https://safecity.busan.go.kr/#/"
                                    target="_blank"
                                    data-toggle="off"
                                    data-submenu="menu03"
                                    data-idx="3">
                                    <!-- <img src="images/icon4_off.png" alt="" /> -->
                                    <div class="title">부산시 침수통합관리 시스템</div>
                                </a>
                            </li>

                            <!-- -->
                            <!-- <li class="nav-item ms-3">-->
                            <!-- <a class="nav-link text-white" href="javascript:void(0)" data-toggle="off"
                            data-submenu="menu04" data-idx="4">-->
                            <!-- <img src="images/icon12_off.png" alt="" />-->
                            <!-- <div class="title">XXXX</div>-->
                            <!-- </a>-->
                            <!-- </li>-->

                        </ul>
                    </div>
                </nav>

            </header>

            <style></style>
            <main>
                <section class="section01">
                    <!-- 빌딩풍 -->

                    <video controls="controls" autoplay="autoplay" muted="muted" >
                        <source src="video/section01_bg.mp4" type="video/mp4">
                    </video>

                    <div class="hrtg">빌딩풍</div>
                    <div class="youtubeBlk" >
                        <div class="wrapper" >
                            <div class="videoblock">
                                <div><a href="javascript:void(0)" class="main-banner-btn" data-bs-toggle="modal" data-bs-target="#exampleModal2"><span class="material-symbols-outlined">play_arrow</span></a></div>
                                <div><a href="javascript:void(0)" class="main-banner-btn" data-bs-toggle="modal" data-bs-target="#exampleModal4"><span class="material-symbols-outlined">play_arrow</span></a></div>
                                <div><a href="javascript:void(0)" class="main-banner-btn" data-bs-toggle="modal" data-bs-target="#exampleModal3"><span class="material-symbols-outlined naver">play_arrow</span></a></div>
                                <div><a href="javascript:void(0)" class="main-banner-btn" data-bs-toggle="modal" data-bs-target="#exampleModal1"><span class="material-symbols-outlined">play_arrow</span></a></div>
                            </div>
                        </div>                      
                    </div>
                </section>


                <section class="section02">
                    <div class="">
                        <div>
                            <img src="images/menu02_01.png" alt="">
                        </div>

                        <div>
                            <img src="images/menu02_02.png" alt="" >
                        </div>
                    </div>
                </section>

                <section class="section06">
                    <!-- -->
                    <div class="left" >
                        <div>
                            <div class="mobile-fit">
                                <div class="weather-top">
                                    <span>해운대구 우동</span>

                                    <div class="updatedInfo"  style="display:absolute;width:200px;height:30px;left:-10%;top:0px;text-align:right;font-size:0.6rem;color:lightgray;">
                                        <span class="updateDateTime">매시간 20분,40분 업데이트</span>
                                    </div>
                                </div>
                                <div class="weather-nav">
                                    <button class="btn btn-secondary " >오늘</button>
                                    <button class="btn btn-secondary " >내일</button>
                                    <button class="btn btn-secondary " >모레</button>
                                    <button class="btn btn-secondary " >월간</button>
                                </div>
                            </div>
                        </div>
                        <div class="weather-body">
                            <div class="weather-body-top">

                            </div>
                            <div class="weather-body-section">
                                <div class="weather-info">
                                    <div class="imgblock" style="object-fix:contain">
                                        <img src="images/weather/NB02.png" alt="" />
                                        <span class="temp"></span>
                                    </div>

                                    <div class="weather-info-body">
                                        <span>체감 <span class="value T1H"></span>℃ </span>
                                        <span><span class="value RN1"></span></span>
                                        <span>습도 <span class="value REH"></span>%</span>
                                        <span><span class="value VEC"></span> <span class="value WSD"></span> m/s</span>
                                    </div>
                                </div>
                                <div class="weather-footer">
                                    <button class="weather-item btn" >미세먼지<br>-</button>
                                    <button class="weather-item btn" >초미세먼지<br>-</button>
                                    <button class="weather-item btn" >자외선<br>-</button>
                                    <button class="weather-item btn" >일몰<br>--:--</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="right" >

                        <div  class="tbl_block" >
                            <table class=" realtimeTbl"  >
                                <thead>
                                    <tr style="background-color :#2A76C7; color : white;font-weight:600">
                                        <th >연번</th>
                                        <th >시간</th>
                                        <th >평균풍향(Deg)</th>
                                        <th >평균풍속(m/s)</th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>

                            </table>
                        </div>

                        <div class="chartBlock">
                            <div class="left"  >
                                <canvas id="leftChart"></canvas>
                            </div>

                            <div class="right">
                                <div id="container" ></div>
                            </div>
                        </div>
                    </div>

        </section>


                <section class="section03 ">
                    <div class="header">

                        <ul class="menu">
                            <li><a href="javascript:void(0)" class="setCentered lctCenter" data-center="35.16073, 129.1688">LCT</a></li>
                            <li><a href="javascript:void(0)" class="setCentered marinCenter" data-center="35.15541, 129.1460">마린시티</a></li>
                            <li><a href="javascript:void(0)" class="setCentered centumCenter" data-center="35.17899, 129.1227">센텀파크</a></li>
                        </ul>

                    </div>
                    <div  class="header">
                        <ul class="menu">
                            <li><a href="javascript:void(0)" class="forcast_btn">10분 후</a></li>
                            <li><a href="javascript:void(0)" class="forcast_btn">30분 후</a></li>
                            <li><a href="javascript:void(0)" class="forcast_btn">3시간 후</a></li>
                        </ul>
                    </div>
                    <!-- 빌딩풍 위험지도 -->
                    <div id="map"></div>

                    <div class="hrtg">AI학습결과</div>

                    <div class="section03-footer">
                            <img src="/gif/lct/e/1/e.gif" alt="bb" />
                            <img src="/images/fixed_img03.png" alt="aa" />
                    </div>

                </section>
            </main>

            <footer></footer>

        </div>

        <!-- MODALS -->
        <!-- Top-header site Menu Modal -->
<style>

</style>

<!--  -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-fullsize" >
      <div class="modal-content">
        <div class="modal-header"> 
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div>
                <div><h3>TOP-MENU</h3></div>
            </div>
            <div>
                <div><h3>TOP-MENU</h3></div>
            </div>
            <div>
                <div><h3>TOP-MENU</h3></div>
            </div>
        </div>
        <div class="modal-footer">
          
        </div>
      </div>
    </div>
  </div>


  <!-- Main banner Video Modal -->

        <!-- 모달 1 퍼가기 금지..다른방법으로 띄우기-->
        <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog  modal-xl modal-fullsize" >
            <div class="modal-content">
                <div class="modal-header"> 
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <iframe src="https://www.youtube.com/embed/lgfJG3IcMpg?si=QlID5GhJvAe7eyDW&autoplay=1&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                
                <style>
                    #exampleModal2 .modal-footer{
                        height:50px;
                        border-top:1px solid lightgray;
                    }
                </style>
                <div class="modal-footer">
                
                </div>
            </div>
            </div>
        </div>

        <!--  모달 2 ok-->
        <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog  modal-xl modal-fullsize" >
            <div class="modal-content">
                <div class="modal-header"> 
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <iframe  src="https://www.youtube.com/embed/20__7wr_nwQ?si=zbzU5iGbnRbm5usU&autoplay=1&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                
                <style>
                    #exampleModal2 .modal-footer{
                        height:50px;
                        border-top:1px solid lightgray;
                    }
                </style>
                <div class="modal-footer">
                
                </div>
            </div>
            </div>
        </div>
        <!--  모달 3 네이버전체창이 나옴.. 동영상만 따로..-->
        <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog  modal-xl modal-fullsize" >
            <div class="modal-content">
                <div class="modal-header"> 
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <iframe  src="https://tv.naver.com/v/15691656?mute=true" title="" frameborder="0" allow="accelerometer;clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
 
            </div>
            </div>
        </div>
        <!--  모달 4-->
        <div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog  modal-xl modal-fullsize" >
            <div class="modal-content">
                <div class="modal-header"> 
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <iframe  src="https://www.youtube.com/embed/d3fh7ADBKT4?si=Kxuxd_3T08by-p9L&autoplay=1&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                
                <style>
                    #exampleModal2 .modal-footer{
                        height:50px;
                        border-top:1px solid lightgray;
                    }
                </style>
                <div class="modal-footer">
                
                </div>
            </div>
            </div>
        </div>        

  



        <!-- --------------------------------------------
        OFFCANVS
        -------------------------------------------- -->
        <a
            class="offcanvas_btn"
            data-bs-toggle="offcanvas"
            href="#offcanvasExample"
            role="button"
            aria-controls="offcanvasExample">
            <img src="images/slide.png"/>
        </a>
        <div
            class="offcanvas offcanvas-start"
            data-bs-backdrop="false"
            tabindex="-1"
            id="offcanvasExample"
            aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-body">
                <div class="wrapper">
                    <div>
                        <div class="dangerzone" style="display:none;">

                            <div class="header">
                                <div>[엘시티]</div>
                                <div class="details">
                                    <a href="javascript:void(0)">상세정보</a>
                                </div>
                            </div>
                            <div class="body" style="height:360px;">
                                <div class="left">

                                    <div
                                        style="display:flex;justify-content: left;align-items: center;padding:5px;font-size:1rem;margin-bottom:5px;margin:15px;">
                                        <input
                                            type="radio"
                                            name="lct"
                                            id="lct-location01"
                                            class="form-check-input dangerchk lct lct-n"
                                            style="width:20px;"
                                        />&nbsp;
                                        <label for="lct-location01" class="form-check-label">북풍 (N)</label>
                                    </div>
                                    <div
                                        style="display:flex;justify-content: left;align-items: center;padding:5px;font-size:1rem;margin-bottom:5px;margin:15px;">
                                        <input
                                            type="radio"
                                            name="lct"
                                            id="lct-location02"
                                            class="form-check-input dangerchk lct lct-ne"
                                            style="width:20px;"/>&nbsp;
                                        <label for="lct-location02" class="form-check-label">북동풍 (NE)</label>
                                    </div>
                                    <div
                                        style="display:flex;justify-content: left;align-items: center;padding:5px;font-size:1rem;margin-bottom:5px;margin:15px;">
                                        <input
                                            type="radio"
                                            name="lct"
                                            id="lct-location03"
                                            class="form-check-input dangerchk lct lct-e"
                                            style="width:20px;"/>&nbsp;
                                        <label for="lct-location03" class="form-check-label">동풍 (E)</label>
                                    </div>
                                    <div
                                        style="display:flex;justify-content: left;align-items: center;padding:5px;font-size:1rem;margin-bottom:5px;margin:15px;">
                                        <input
                                                type="radio"
                                                name="lct"
                                            id="lct-location04"
                                            class="form-check-input dangerchk lct lct-s"
                                            style="width:20px;"/>&nbsp;
                                        <label for="lct-location04" class="form-check-label">남풍 (S)</label>
                                    </div>
                                    <div
                                        style="display:flex;justify-content: left;align-items: center;padding:5px;font-size:1rem;margin-bottom:5px;margin:15px;">
                                        <input
                                                type="radio"
                                                name="lct"
                                            id="lct-location05"
                                            class="form-check-input dangerchk lct lct-sw"
                                            style="width:20px;"/>&nbsp;
                                        <label for="lct-location05" class="form-check-label">남서풍 (SW)</label>
                                    </div>
                                    <div
                                        style="display:flex;justify-content: left;align-items: center;padding:5px;font-size:1rem;margin-bottom:5px;margin:15px;">
                                        <input
                                                type="radio"
                                                name="lct"
                                            id="lct-location06"
                                            class="form-check-input dangerchk lct lct-w"
                                            style="width:20px;"/>&nbsp;
                                        <label for="lct-location06" class="form-check-label">서풍 (W)</label>
                                    </div>
                                    <div
                                        style="display:flex;justify-content: left;align-items: center;padding:5px;font-size:1rem;margin-bottom:5px;margin:15px;">
                                        <input
                                                type="radio"
                                                name="lct"
                                            id="lct-location07"
                                            class="form-check-input dangerchk lct lct-nw"
                                            style="width:20px;"/>&nbsp;
                                        <label for="lct-location07" class="form-check-label">북서풍 (NW)</label>
                                    </div>
                                </div>

                            </div>
                            <div class="header">
                                <div>[마린시티]</div>
                                <div class="details">
                                    <a href="javascript:void(0)">상세정보</a>
                                </div>
                            </div>
                            <div class="body" style="height:360px;">
                                <div class="left">

                                    <div
                                        style="display:flex;justify-content: left;align-items: center;padding:5px;font-size:1rem;margin-bottom:5px;margin:15px;">
                                        <input
                                                type="radio"
                                                name="marin"
                                            id="marin-location01"
                                            class="form-check-input"
                                            style="width:20px;"/>&nbsp;
                                        <label for="marin-location01" class="form-check-label">북풍 (N)</label>
                                    </div>
                                    <div
                                        style="display:flex;justify-content: left;align-items: center;padding:5px;font-size:1rem;margin-bottom:5px;margin:15px;">
                                        <input
                                                type="radio"
                                                name="marin"
                                            id="marin-location02"
                                            class="form-check-input"
                                            style="width:20px;"/>&nbsp;
                                        <label for="marin-location02" class="form-check-label">북동풍 (NE)</label>
                                    </div>
                                    <div
                                        style="display:flex;justify-content: left;align-items: center;padding:5px;font-size:1rem;margin-bottom:5px;margin:15px;">
                                        <input
                                                type="radio"
                                                name="marin"
                                            id="marin-location03"
                                            class="form-check-input"
                                            style="width:20px;"/>&nbsp;
                                        <label for="marin-location03" class="form-check-label">동풍 (E)</label>
                                    </div>
                                    <div
                                        style="display:flex;justify-content: left;align-items: center;padding:5px;font-size:1rem;margin-bottom:5px;margin:15px;">
                                        <input
                                                type="radio"
                                                name="marin"
                                            id="marin-location04"
                                            class="form-check-input"
                                            style="width:20px;"/>&nbsp;
                                        <label for="marin-location04" class="form-check-label">남풍 (S)</label>
                                    </div>
                                    <div
                                        style="display:flex;justify-content: left;align-items: center;padding:5px;font-size:1rem;margin-bottom:5px;margin:15px;">
                                        <input
                                                type="radio"
                                                name="marin"
                                            id="marin-location05"
                                            class="form-check-input"
                                            style="width:20px;"/>&nbsp;
                                        <label for="marin-location05" class="form-check-label">남서풍 (SW)</label>
                                    </div>
                                    <div
                                        style="display:flex;justify-content: left;align-items: center;padding:5px;font-size:1rem;margin-bottom:5px;margin:15px;">
                                        <input
                                                type="radio"
                                                name="marin"
                                            id="marin-location06"
                                            class="form-check-input"
                                            style="width:20px;"/>&nbsp;
                                        <label for="marin-location06" class="form-check-label">서풍 (W)</label>
                                    </div>
                                    <div
                                        style="display:flex;justify-content: left;align-items: center;padding:5px;font-size:1rem;margin-bottom:5px;margin:15px;">
                                        <input
                                                type="radio"
                                                name="marin"
                                            id="marin-location07"
                                            class="form-check-input"
                                            style="width:20px;"/>&nbsp;
                                        <label for="marin-location07" class="form-check-label">북서풍 (NW)</label>
                                    </div>
                                </div>

                            </div>
                            <div class="header">
                                <div>[센텀파크]</div>
                                <div class="details">
                                    <a href="javascript:void(0)">상세정보</a>
                                </div>
                            </div>
                            <div class="body" style="height:360px;">
                                <div class="left">

                                    <div
                                        style="display:flex;justify-content: left;align-items: center;padding:5px;font-size:1rem;margin-bottom:5px;margin:15px;">
                                        <input
                                            type="radio"
                                            name="centum"
                                            id="centum-location01"
                                            class="form-check-input"
                                            style="width:20px;"/>&nbsp;
                                        <label for="centum-location01" class="form-check-label">북풍 (N)</label>
                                    </div>
                                    <div
                                        style="display:flex;justify-content: left;align-items: center;padding:5px;font-size:1rem;margin-bottom:5px;margin:15px;">
                                        <input
                                                type="radio"
                                                name="centum"
                                            id="centum-location02"
                                            class="form-check-input"
                                            style="width:20px;"/>&nbsp;
                                        <label for="centum-location02" class="form-check-label">북동풍 (NE)</label>
                                    </div>
                                    <div
                                        style="display:flex;justify-content: left;align-items: center;padding:5px;font-size:1rem;margin-bottom:5px;margin:15px;">
                                        <input
                                                type="radio"
                                                name="centum"
                                            id="centum-location03"
                                            class="form-check-input"
                                            style="width:20px;"/>&nbsp;
                                        <label for="centum-location03" class="form-check-label">동풍 (E)</label>
                                    </div>
                                    <div
                                        style="display:flex;justify-content: left;align-items: center;padding:5px;font-size:1rem;margin-bottom:5px;margin:15px;">
                                        <input
                                                type="radio"
                                                name="centum"
                                            id="centum-location04"
                                            class="form-check-input"
                                            style="width:20px;"/>&nbsp;
                                        <label for="centum-location04" class="form-check-label">남풍 (S)</label>
                                    </div>
                                    <div
                                        style="display:flex;justify-content: left;align-items: center;padding:5px;font-size:1rem;margin-bottom:5px;margin:15px;">
                                        <input
                                                type="radio"
                                                name="centum"
                                            id="centum-location05"
                                            class="form-check-input"
                                            style="width:20px;"/>&nbsp;
                                        <label for="centum-location05" class="form-check-label">남서풍 (SW)</label>
                                    </div>
                                    <div
                                        style="display:flex;justify-content: left;align-items: center;padding:5px;font-size:1rem;margin-bottom:5px;margin:15px;">
                                        <input
                                                type="radio"
                                                name="centum"
                                            id="centum-location06"
                                            class="form-check-input"
                                            style="width:20px;"/>&nbsp;
                                        <label for="centum-location06" class="form-check-label">서풍 (W)</label>
                                    </div>
                                    <div
                                        style="display:flex;justify-content: left;align-items: center;padding:5px;font-size:1rem;margin-bottom:5px;margin:15px;">
                                        <input
                                                type="radio"
                                                name="centum"
                                            id="centum-location07"
                                            class="form-check-input"
                                            style="width:20px;"/>&nbsp;
                                        <label for="centum-location07" class="form-check-label">북서풍 (NW)</label>
                                    </div>
                                </div>

                            </div>

                            <div class="header">
                                <div>범례 (m/s)</div>
                            </div>
                            <div
                                class="body"
                                style="display:flex;flex-direction: column;align-items: start;justify-content: start;">
                                <style>
                                    .bumlea span::after {
                                        content: "";
                                        display: block;
                                        width: 100%;
                                        height: 15px;
                                        position: relative;
                                        top: 25px;
                                        text-align: center;
                                    }
                                    .bumlea span:nth-child(1)::after {
                                        content: "~14";
                                    }
                                    .bumlea span:nth-child(2)::after {
                                        content: "14~21";
                                    }
                                    .bumlea span:nth-child(3)::after {
                                        content: "21~";
                                    }
                                </style>
                                <div
                                    class="left bumlea"
                                    style="display:flex;justify-content: center;align-items: center;height:100px;">
                                    <span
                                        style="width:80px;height:20px;background-color: green;display:block;margin :15px;opacity: 1 !important;"></span>
                                    <span
                                        style="width:80px;height:20px;background-color: blue;display:block;margin :15px;opacity: 1 !important;"></span>
                                    <span
                                        style="width:80px;height:20px;background-color: red;display:block;margin :15px;opacity: 1 !important;"></span>
                                </div>
                                <div
                                    style="display:flex;justify-content: center;align-items: center;flex-direction: column;height:100px;margin-top:5px;padding: 10px;">
                                    <div style="margin-top:10px;">투명도</div>
                                    <div style="margin-top:10px;">

                                            <input
                                                type="range"
                                                value="0.7"
                                                class="opacityController"
                                                min="0.2"
                                                max="1"
                                                step="0.1">

                                    </div>

                                </div>

                            </div>

                        <div class="header">
                                <div>FORCAST</div>
                                <div class="details">
                                    <a href="javascript:void(0)">상세정보</a>
                                </div>
                        </div>
                        <div class="body forcast">
                            <div><a href="javascript:void(0)" class="forcast_btn">10분 후</a></div>
                            <div><a href="javascript:void(0)" class="forcast_btn">30분 후</a></div>
                            <div><a href="javascript:void(0)" class="forcast_btn">3시간 후</a></div>
                        </div>


                    </div>

                </div>





            </div>
            <div class="dropdown mt-3"></div>
        </div>

    </div>

    <!-- ------------------------ BUildingWind Danger Page Fixed
    -------------------------------------------- -->
    <div  class="buildingDangerFixedBlock"  >

            <div >

                    <div class="buildingDangerFixedBlock-weather">
                        <div class="mobile-fit">
                            <div class="weather-top">
                                <span>해운대구 우동</span>
                            </div>
                            <div class="weather-nav">
                                <button class="btn btn-secondary ">오늘</button>
                                <button class="btn btn-secondary "  >내일</button>
                                <button class="btn btn-secondary "  >모레</button>
                                <button class="btn btn-secondary "  >월간</button>
                            </div>
                            <div class="weather-body">
                                <div class="weather-body-top">

                                </div>
                                <div class="weather-body-section">
                                    <div class="weather-info">
                                        <div class="imgblock">
                                            <img src="images/weather/NB02.png" alt="" />
                                            <span class="temp"></span>
                                        </div>

                                        <div class="weather-info-body">
                                            <span>체감 <span class="value T1H"></span>℃ </span>
                                            <span><span class="value RN1"></span></span>
                                            <span>습도 <span class="value REH"></span>%</span>
                                            <span><span class="value VEC"></span> <span class="value WSD"></span> m/s</span>
                                        </div>
                                    </div>
                                    <div class="weather-footer">
                                        <button class="weather-item btn" >미세먼지 -</button>
                                        <button class="weather-item btn" >초미세먼지 -</button>
                                        <button class="weather-item btn" >자외선 -</button>
                                        <button class="weather-item btn" >일몰 --:--</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>


            </div>

            <div class="buildingwindGif" >
                <img class="section02" src="gif/lct/n/1/n.gif"  />
            </div>

            <div style="">
                <video width="100%" height="150px"  controls loop  muted autoplay>
                    <source src="video/section03_TensorVideo.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div style="">
                <img src="gif/buildingWind.gif" />
            </div>
        </div>

    </div>

    <!-- 
        HIGHT CHART DATA
     -->

        <!--    HIGH CHART-->
     <!--    HIGH CHART-->
     <div style="display:none">

        <table id="freq" border="0" cellspacing="0" cellpadding="0">
            <tr nowrap bgcolor="#CCCCFF">
                <th colspan="9" class="hdr">Table of Frequencies (percent)</th>
            </tr>
            <tr nowrap bgcolor="#CCCCFF">
                <th class="freq"></th>
                <th class="freq"></th>

            </tr>
            <tr nowrap>
                <td class="dir">N</td>
                <td class="data">0</td>
            </tr>
            <tr nowrap bgcolor="#DDDDDD">
                <td class="dir">NNE</td>
                <td class="data">0</td>
            </tr>
            <tr nowrap>
                <td class="dir">NE</td>
                <td class="data">0</td>
            </tr>
            <tr nowrap bgcolor="#DDDDDD">
                <td class="dir">ENE</td>
                <td class="data">0</td>
            </tr>
            <tr nowrap>
                <td class="dir">E</td>
                <td class="data">0</td>
            </tr>
            <tr nowrap bgcolor="#DDDDDD">
                <td class="dir">ESE</td>
                <td class="data">0</td>
            </tr>
            <tr nowrap>
                <td class="dir">SE</td>
                <td class="data">0</td>
            </tr>
            <tr nowrap bgcolor="#DDDDDD">
                <td class="dir">SSE</td>
                <td class="data">0</td>
            </tr>
            <tr nowrap>
                <td class="dir">S</td>
                <td class="data">0</td>
            </tr>
            <tr nowrap bgcolor="#DDDDDD">
                <td class="dir">SSW</td>
                <td class="data">0</td>
            </tr>
            <tr nowrap>
                <td class="dir">SW</td>
                <td class="data">0</td>
            </tr>
            <tr nowrap >
                <td class="dir">WSW</td>
                <td class="data">0</td>
            </tr>
            <tr nowrap>
                <td class="dir">W</td>
                <td class="data">0</td>
            </tr>
            <tr nowrap >
                <td class="dir">WNW</td>
                <td class="data">0</td>
            </tr>
            <tr nowrap>
                <td class="dir">NW</td>
                <td class="data">0</td>
            </tr>
            <tr>
                <td class="dir">NNW</td>
                <td class="data">0</td>
            </tr>

        </table>
    </div>


    <!-- BS5 JS -->
    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <!-- JQUERY -->
    <script
        src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
        crossorigin="anonymous"></script>

    <!-- LEAFLET JS -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

    <!-- CHARTJS -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
           <!-- HIGHCHART.JS -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>

<!--        AXIOS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.2/axios.min.js" integrity="sha512-b94Z6431JyXY14iSXwgzeZurHHRNkLt9d6bAHt7BZT38eqV+GyngIi/tVye4jBKPYQ2lBdRs0glww4fmpuLRwA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <!--        NAVER-->
        <script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=xzhrszj4e9"></script>

        <!--네이버 시각화    -->
        <script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=xzhrszj4e9&submodules=visualization"></script>
    <!-- JS -->

    <script>



    </script>
    
    <script src="js/mobile.js"></script>
    <script src="js/menu06.js"></script>
    <script src="js/drawChart.js"></script>
    <script src="js/common.js"></script>
    <script src="js/dataSet/LctPolygon01.js"></script>
    <script src="js/dataSet/MarinPolygon01.js"></script>
        <script>








                   // 투명도 EVENT
                   const opacityControlEl = document.querySelector('.opacityController');
                                       opacityControlEl.addEventListener('change', function () {
                                       console.log(opacityControlEl.value);

                                       const offcanvasEl = document.querySelector('.offcanvas');
                                       offcanvasEl.style.opacity = opacityControlEl.value;
                                       const offcanvas_btnEl = document.querySelector('.offcanvas_btn');
                                       offcanvas_btnEl.style.opacity = opacityControlEl.value;
                   })



               //Forcast 버튼 클릭시(10분후 , 30분후 3시간후
               const forcastEls = document.querySelectorAll('.forcast_btn');
                   forcastEls.forEach(el=>{

                   el.addEventListener('click',function(){
                       console.log('forcast btn');

                   });
               })


    </script>







</body>
</html>